meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

title= page.title ? page.title + ' | ' + config.title : config.title

meta(name='description', content= page.intro ? page.intro : config.meta_description)
meta(name='generator', content= config.title)
meta(name='author', content= config.author)
meta(name='keywords', content= theme.keywords)
meta(name='HandheldFriendly', content='True')
meta(name='MobileOptimized', content='320')
meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=0')
meta(name="google-site-verification", content="cIlPjD2hFqzY4Xo8_rT39KxT77hKclorqVeHBprQlmg")
meta(name="google-site-verification", content="3SuT0J82HV8r5lSbbYF2Y8qX1jGV9AW6PmG2raAuup0")

link(rel='stylesheet', type='text/css', href= config.root + 'styles/screen.css')
link(rel='icon', sizes='16x16', href='/images/favicon-16x16.ico')

if config.rss
  link(rel='alternate', type='application/rss+xml', title='RSS', href= config.rss)
if config.feed && config.feed.type == 'rss'
  link(rel='alternate', type='application/rss+xml', title='RSS', href= config.feed.path)
if config.feed && config.feed.type == 'atom'
  link(rel='alternate', type='application/atom+xml', title='Atom 0.3', href= config.feed.path)
