mixin page(title)
  if title == page.title.toLowerCase()
    include= title

mixin archive(post)
  li
    a(href= config.root + post.path) #{post.title}
    |  - #{ full_date(new Date(post.date), ' D MMMM YYYY')}
