//- script(src= config.root + 'scripts/index.js', type='text/javascript')
if config.disqus_shortname
  - var disqus_type = page.comments ? 'embed' : 'count'
  script(async).
    (function(h,g,l,k,j,i){j=h.createElement(g),i=h.getElementsByTagName(g)[0],
    j.src = '//' + l + '.disqus.com/' + k + '.js', i.parentNode.insertBefore(j, i)})
    (document,'script','#{config.disqus_shortname}','#{disqus_type}');

  script(async).
    var disqus_shortname = '#{config.disqus_shortname}';
    (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(s);
    }());

if theme.google_analytics
  script.
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','#{theme.google_analytics}');ga('send','pageview');
